{% extends "base.html" %}
{% block title %}비밀번호 변경{% endblock %}

{% block extra_style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_style %}

{% block content %}

<h1>비밀번호 변경</h1>

<form action="." method="post">
    {% csrf_token %}
    
    {% if form.errors %}
    <div class="alert alert-danger">정확하게 입력하셨는지 다시 확인하세요.</div>
    {% endif %}

    <p>귀하의 보안을 위해 이전 비밀번호와 변경하려는 새 비밀번호를 입력하세요.</p>
    <div class="form-group">
        <label>예전 비밀번호:</label> {{ form.old_password }}
    </div>
    <div class="form-group">
        <label>새 비밀번호:</label> {{ form.new_password1 }}
    </div>
    <div class="form-group">
        <label>새 비밀번호 확인:</label> {{ form.new_password2 }}
    </div>

    <div class="form-group">
        <input type="submit" value="비밀번호 변경">
    </div>
</form>
{% endblock content %}