{% extends "base.html" %}
{% block title %}{% endblock %}
{% load staticfiles %}
{% block content %}
<h1>비밀번호 변경</h1>
<form action="." method="post">{% csrf_token %} {% if form.errors %}
    <div class="alert alert-danger">정확하게 입력하셨는지 다시 확인하세요.</div>
    {% endif %}

    <p>귀하의 보안을 위해 이전 비밀번호와 변경하려는 새 비밀번호를 입력하세요.</p>
    <div class="form-group">
        <label>예전 비밀번호:</label> <span style="color:black">{{ form.old_password }}</span>
    </div>
    <div class="form-group">
        <label>새 비밀번호:</label> <span style="color:black">{{ form.new_password1 }}</span>
    </div>
    <div class="form-group">
        <label>새 비밀번호 확인:</label> <span style="color:black">{{ form.new_password2 }}</span>
    </div>
    <input type="submit" value="비밀번호 변경" style="color: black;">
</form>
{% endblock content %}