{% extends "base.html" %} {% block title %}{% endblock %} {% load staticfiles %}
{% block content %}
<h1>비밀번호 변경</h1>
<form method="post" action="." data-validate-username-url="{% url 'validate_username' %}"> {% csrf_token %} {% if form.errors %}
    <div class="alert alert-danger">아래 입력내용을 다시 확인하세요.</div>
    {% endif %}
    <p>이름과 비밀번호를 입력하세요.</p>
    <p>로그인에 사용할 아이디와 비밀번호를 입력하세요.</p>
    <div class="form-group">
        <label>아이디:</label> <span style="color:black">{{ form.username }}</span>
    </div>
    <div class="form-group">
        <label>비밀번호:</label> <span style="color:black">{{ form.password1 }}</span>
    </div>
    <div class="form-group">
        <label>비밀번호 확인:</label> <span style="color:black">{{ form.password2 }}</span>
    </div>
    <div class="form-group">
        <input type="submit" value="회원가입" style="color: black;">
    </div>
</form>
{% endblock content %}
{% block lowerjs %}
<script>
    $("#id_username").change(function () {
        var username = $(this).val();
        // console.log ( username );
        // 데이터의 내용보다,
        // (1) 데이터를 보내는 URL
        // (2) 데이터의 유무와 형식
        // (3) 성공시 수행할 행동 및 메시지
        // 이러한 '필수요소'부터 집중해야 한다.

        $.ajax({
            url: '{% url "validate_username" %}',
            data: {
                'username' : username
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    alert(data.error_message);
                }
            }
        });
    });
</script>
{% endblock lowerjs %}