/* 사이트 전체의 템플릿으로 사용하는 base.html의 CSS다. */
/* 6 */

/* 기본 */

body {
    width: 1200px;
    margin: 0 auto;
    background-color: black;
}

.contentBox, section, footer, address {
    width: 100%;
}

.contentBox {
    padding-left: 10px;
    padding-top: 20px;
}

/* 페이지 최상단 배너 */

header {
    height: 175px;
    position: relative;
}

#randomQuoter {
    position: absolute;
    display: block;
    width: 700px;
    height: 100px;
    margin: 10px auto 0 auto;
    left: 0;
    right: 0;
    display: block;
    border: 2px solid olive;
    background-color: #feffb4;
    color: black;
    font-size: 10pt;
}

#quote-box {
    position: absolute;
    top: 10px;
    left: 20px;
}

#quote-refresh {
    position: absolute;
    z-index: 5;
    right: 0px;
    bottom: 0px;
    padding: 5px;
    background-color: olive;
    color: white;
}

/* 각 페이지 최상단 제목 */

.section-title {
    color: black;
    background-color: wheat;
    text-align: center;
    border: 3px dashed sienna;
    padding: 5px;
    display: inline-block;
}


/* 사이트 메뉴 속성 */
.nav-main {
    position: absolute;
    width: 100%;
    bottom: 4px;
}

.nav-main ul {
    padding-left: 0px;
    float: left;
}

#ul-account {
    float: right;
}

.nav-main ul li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
}

.nav-main ul li a {
    padding: 15px 10px;
    color: white;
    background-color: #505050;
    border: 1px solid white;
}

.nav-main ul li a:hover {
    color: #505050;
    background-color: white;
    border: 1px solid #505050;
}

.nav-main ul li:first-child {
    margin-left: 5px;
}

table, table tr, table tr th, table tr td {
    border: 1px solid black;
    border-collapse: collapse;
}

.div-comments {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 12px;
}


/* 사이트 하단 속성 */

footer {
    margin-top: 10px;
    border-style: dashed;
    background-color: white;
    border-color: black;
    color: black;
}

address {
    margin-top: 10px;
    background-color: wheat;
    border-style: dashed;
    border-color: sienna;
    text-align: center;
    color: black;
}

/* 게임 점수 목록 전용 */
#leaderboard {
    width: 600px;
}

#leaderboard th {
    padding: 5px 10px;
    text-align: center;
}

#leaderboard td {
    padding: 5px;
}

/* 클리어픽스 시스템 */
.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::before, .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* 사이트 대문 */
#welcomeText {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}