/* base.css에서 색깔 관련 요소들만 여기로 옮겨올 것 */

body {
    background-color: #010d2c;
}

.content-main {
    background-color: #93b1ff;
}

header {
    background-color: #001c63;
}

nav ul li a{
    color: #5585ff;
    background-color: #012ea0;
    border: 1px solid #5585ff;
}

nav ul li a:hover {
    color: #012ea0;
    background-color: #5585ff;
    border: 1px solid #012ea0;
}