/* album_list.html */

div.album-list {
    margin: 20px 50px;
}

div.album-list-photo {
    float: left;
    width: 180px;
    height: 200px;
}

/* album_detail.html */

div.album-detail {
    margin: 20px 50px;
}

div.album-detail-photo {
    float: left;
    width: 180px;
    height: 200px;
}

div.album-detail-photo > li {
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
}

/* photo_detail.html */

table.photo-detail {
    margin: 30px 50px;
    border: 1px solid #ccc;
    padding: 20px 20px;
}

table.photo-detail td {
    width: 50%;
}

table.photo-detail ul li {
    font-weight: bold;
}

/* 공통 */

hr {
    margin-right: 10px;
}

.thumbnail {
    border: 3px solid black;
    margin: 0 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}