{% extends "blog/base_blog.html" %}

{% block title %}블로그 변경 목록{% endblock %}

{% block content_blog %}

<div>
    <h3>블로그 변경 - {{ user }}</h3>

    <table class="change-list">
        <tr>
            <th>제목</th>
            <th>설명</th>
            <th>작성자</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>

        {% for item in object_list %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.owner }}</td>
            <td><a href="{% url 'blog:note_update' item.id %}">수정</a></td>
            <td><a href="{% url 'blog:note_delete' item.id %}">삭제</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content_blog %}