{% extends "blog/base_blog.html" %}
{% block content_blog %}
<h2>{{ year|date:"Y" }}년에 보관된 노트</h2>

<ul>
    {% for date in date_list %}
    <li style="display: inline">
        <a href="{% url 'blog:note_month_archive' year|date:'Y' date|date:'b' %}">{{ date|date:"n" }}월</a>
    </li>
    {% endfor %}
</ul>
<br>
<div>
    <ul>
        {% for note in object_list %}
        <li>
            {{ note.modify_date|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
            <a href="{{ note.get_absolute_url }}"><strong>{{ note.title }}</strong></a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content_blog %}