{% extends "blog/base_blog.html" %}

{% block title %}블로그 양식{% endblock %}

{% block content_blog %}

<div>
    <h3>블로그 추가/수정 - {{ user }}</h3>

    <form action="." method="post">
        {% csrf_token %}

        {% if form.errors %}
        <p class="errornote">오류가 발생했습니다! 아래에서 오류를 수정해 주십시오.</p>
        {% endif %}

        <p>블로그를 추가하거나 수정합니다.</p>
        <fieldset class="aligned">
            <div class="form-group">
                <label>제목:</label> {{ form.title }}
            </div>
            <div class="form-group">
                <label>한줄요약:</label> {{ form.description }}
            </div>
            <div class="form-group">
                <label>내용:</label> {{ form.content }}
            </div>
            <div class="form-group">
                <label>태그(들):</label> {{ form.tag }}
            </div>
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="저장">
        </div>

        <script>
            document.getElementById('id_title').focus();
        </script>
    </form>
</div>

{% endblock content_blog %}