{% extends "photo/base_photo.html" %}
{% block title %}갤러리 상세보기{% endblock title %}

{% block content_photo %}

<div class="clearfix">
    <hr style="border: 1px solid black;">

    <h2 style="display: inline"><b>{{ object.name }}</b></h2>
    <span style="font-size: 16px; font-weight: bold;">
            {{ object.description }}
    </span>


    <div class="album-detail">
        {% for photo in object.photo_set.all %}
        <div class="album-detail-photo">
            <a class="thumbnail" href="{{ photo.get_absolute_url }}">
                <img src="{{ photo.image.thumb_url }}">
                <br>
                <p style="text-align: center;">{{ photo.title }}
                    <br>
                    {{ photo.upload_date|date:"Y-m-d" }}
                </p>
            </a>
        </div>
        {% endfor %}
    </div>


</div>
<hr style="border: 1px solid black;">
{% endblock content_photo %}