{% extends "game/base_game.html" %}

{% block extra_style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/game-default.css' %}">
<style>
    #monteButton-1 {top: 270px; left: 73px;}
    #monteButton-2 {top: 270px; left: 173px;}
    #monteButton-3 {top: 270px; left: 273px;}
</style>
{% endblock extra_style %}

{% block upperjs %}
<script src="{% static 'js/game-monte.js' %}"></script>
{% endblock upperjs %}

{% block content_game %}
<div>
    <div class="box-game">
        <div id="canvas-monte"></div>
        <span class="game-button game-start" id="start-monte" onclick="gameStart()">시작</span>
        <span class="game-button" id="monteButton-1" onclick="choose1()">1</span>
        <span class="game-button" id="monteButton-2" onclick="choose2()">2</span>
        <span class="game-button" id="monteButton-3" onclick="choose3()">3</span>
        <span class="game-button game-clearScore" onclick="clearScore()">점수지우기</span>
    <p class="box-message" id="message-monte">'시작' 버튼을 눌러주세요.</p>
    <p class="box-message">(점수는 로그인을 하셔야 저장됩니다.)</p>
    </div>
</div>
{% endblock content_game %}

{% block lowerjs %}
{% if user.is_authenticated %}
<script>
    // 로그인했을 때만 사용되며, 해당 계정의 점수를 DB에서 받아온다.
    // 점수 다운로드 코드는 static/js/monte.js에 있다.
    var gameData = {
        'level': 1,
        'score': 0,
        'highscore': 0
    };
    $(document).ready(function() {
        scoreDownload();
    });
</script>
{% else %}
<script>
    var gameData = {
        'level': 1,
        'score': 0,
        'highscore': 0
    };
</script>
{% endif %}
<script>
    $(document).ready(function () {
        gameReady();
    });
</script>
{% endblock lowerjs %}