{% extends "game/base_game.html" %}

{% block upperjs %}
(여기에 러시안룰렛 js 파일을 넣을 것.)
{% endblock upperjs %}

{% block content_game %}
<div>
    <div class="box-game">
        <div id="canvas-russian"></div>
        <p class="messagebox" id="message-russian">준비중입니다.</p>
        <p class="messagebox">(비로그인 플레이에서는 점수가 저장되지 않습니다.)</p>
    </div>
</div>

<p id="test-1"></p>



<script>
    var revolver, insert, currentTurn, bullets;
    
    function randomSelect() {
        currentTurn = 0;
        revolver = ["n", "n", "n", "n", "n", "n"]
        var insert = Math.floor((Math.random() * 6)) // 0부터 5까지 (행렬을 쉽게 사용하기 위함)
        revolver[insert] = 'y';
        bullets = revolver.length;
        console.log("총알 배치: " + revolver);
        console.log("남은 탄창: " + bullets);
        document.getElementById("test-1").innerHTML = "선택지를 골라주세요.<br>(일단 span을 누르면 함수가 실행되게 처리)";
    }
    randomSelect();

    function selectShoot() {
        if (revolver[0] == "n")
        {
            console.log("당신은 살았습니다!");
            revolver.splice(0, 1);
        }
        else if (revolver[0] == "y")
        {
            console.log("BANG!!! 당신은 죽었습니다!");
            console.log("GAME OVER");
        }
    }

    function selectPass() {
        var movedBullet = revolver[0];
        revolver.splice(0, 1);
        revolver.splice(6, 0, movedBullet);
        console.log("총알 배치: " + revolver);
        // 다음 탄창으로 넘어감.
        // 발사와 원리가 같지만, 0번째 값을 삭제하진 않고 맨 뒤로 넘김
        // 무조건 점수 -1점 처리.
    }

    function selectDrop() {
        if (revolver[0] == "y")
        {
            console.log("총알이 있었습니다! 대단하시군요!");
            console.log("GAME OVER");
        }
        else if (revolver[0] == "n")
        {
            console.log("총알이 없었습니다! 그래도 다행이군요!");
            console.log("GAME OVER");
        }
        // 총알이 있을거라 예상하고 게임을 포기.
        // 성공하면 점수 획득, 실패하면 총알 위치를 알려준 후 게임 오버
    }
</script>






{% endblock content_game %}

{% block lowerjs %}
{% if user.is_authenticated %}
<script>
    // 기본 점수 틀을 만들고 점수 받아오기 함수를 실행.
</script>
{% else %}
<script>
    // 기본 점수 틀을 유지함
</script>
{% endif %}
<script>
    // (JQ로, 문서가 준비되면 게임 준비 함수를 실행)
</script>
{% endblock lowerjs %}